slides/
data/
*_files/
.Rhistory
.RData
*.png
*.xml
*.rmarkdown
_quarto.yaml.local

/.quarto/
/_site/
docs/site_libs/
docs/robots.txt
docs/search.json
sib_enrichment_analysis_exercises_cache/

/_*.local
